{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "webextensions": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-nested-ternary": off,
    "jsx-a11y/accessible-emoji": off,
    "no-alert": off,
    "no-console": off,
    "jsx-a11y/anchor-is-valid": off,
    "jsx-a11y/click-events-have-key-events": off,
    "jsx-a11y/no-static-element-interactions": off,
    "react/prefer-stateless-function": off

  }
}
