{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "webextensions": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-nested-ternary": off,
    "jsx-a11y/accessible-emoji": off,
    "no-alert": off,
    "no-console": off
  }
}
