.List {
  display: flex;
  flex-direction: column;
  width: 100%;

  .Item {
    display: flex;
    flex-flow: row wrap;

    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid #ddd;

    .Icon {
      font-size: 1.2rem;
      padding: 0.2rem;
      margin: 0.2rem;
      cursor: pointer;
      box-sizing: content-box;
      text-shadow: 0 1px 2px rgba(0,0,0,0.15);
      transition: text-shadow 0.3s ease-in-out;

      &:hover {
        text-shadow: 0 5px 15px rgba(0,0,0,0.3);
      }
    }

    .Content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 0.6rem;

      .Title {
        flex: 1;
        display: flex;
        align-items:flex-end;
        font-size: 0.8rem;
      }
      .Meta {
        flex: 1;
        display: flex;
        align-items: flex-start;
        font-size: 0.7rem;
      }
    }


  }
}

.list .item span {
  flex: 1;
}
.list .item button {

  border: 0;
  border-radius: 5px;
  background: none;
  color: #222;
}
.list .item span.meta {
  flex: 1 100%;

  font-size: 0.8rem;
  color: #666;
}
.list .item span.meta a {
  color: #666;
}
