.List {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  .Item {
    display: flex;
    flex-flow: row wrap;
    flex: 1;

    border-bottom: 1px solid #ddd;

    .Icon {
      text-align: right;
      font-size: 1.2rem;
      cursor: pointer;
      box-sizing: content-box;
      text-shadow: 0 1px 2px rgba(0,0,0,0.15);
      transition: text-shadow 0.3s ease-in-out;

      &:hover {
        text-shadow: 0 5px 15px rgba(0,0,0,0.3);
      }
    } 

    .Speed {
      margin-top: 5px;
      color: #ee6b11;
      font-size: 12px;
    }
    .Odometer {
      text-align: right;
      margin-top: 5px;
      font-size: 12px;
      color:#707070;
    }
    .Title {
      font-size: 18px;
      font-weight: bold;
    }
    .Meta {
      font-weight: 500;
      font-size: 16px;
      color: #707070;
    }

  }

  .SubItem {
    display: flex;
    flex-flow: row wrap;
    flex: 1;

    &:hover {
      background: #ddd;
    }

    .Title {
      font-size: 0.8rem;
    }
    .Meta {
      font-size: 0.8rem;
    }
  }

  .Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .Row {
      padding: 15px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: start;

      .Col {
        flex: 1;

        
      }
    }
  }
}
