@font-face {
  font-family: 'Avenir';
  src: url(/assets/fonts/avenir.otf); 
}

body {
  width: 300px;
  font-family: 'Avenir', sans-serif;
  color: #555555;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.pointer {
  cursor: pointer;
}
.bg-grey {
  background: #f8f8f8;
}
.container {
  padding: 1rem;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 42.59px;
}
h1 {
  margin: 0 0 1rem 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  /* text-transform: uppercase; */
  letter-spacing: 0.05rem;
}
input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
}
input[type='submit'] {
  border: 0;
  border-radius: 5px;
  background-color: #ee6b11;
  color: #fff;
}

.icon-unlock {
  filter: invert(61%) sepia(26%) saturate(1012%) hue-rotate(40deg) brightness(104%) contrast(81%);
  &.icon-grey {
    filter: invert(67%) sepia(0%) saturate(2%) hue-rotate(18deg) brightness(96%) contrast(90%);
  }
}
.icon-lock {
  filter: invert(40%) sepia(100%) saturate(612%) hue-rotate(349deg) brightness(103%) contrast(98%);
  &.icon-grey {
    filter: invert(67%) sepia(0%) saturate(2%) hue-rotate(18deg) brightness(96%) contrast(90%);
  }
}